{% extends "@PluginWebCreator/Web/Admin/EditWebPage.html.twig" %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            if ($('#formEditWebPage input[name="action"]').val() == 'edit') {
                $('.pagetitle, .pagepermalink, .pagedescription, .pageseparate').hide();
            }
        });
    </script>
{% endblock %}